/* Custom CSS to change font color to green when active */
.nav-link:hover, .nav-link:active {
    background-color: #dfdfdf; /* Light background color on hover */      /* Rounded corners */
    color: #dbdbdb;            /* Change color on hover */
}


.nav-link{
    padding: 15px;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial;
    border-right: .01px solid rgb(241, 241, 241);
}

.navbar {
    padding: 0px;
    margin-top: -6px;
    height: 55px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle bottom shadow */
}

.collapse{
    background-color:white;
  
 
}

